<%- include("./partials/header")%>
<%- include("./partials/nav")%>

<div class="maindic w-full pb-10">
    <h1 class="my-5 mx-auto w-max font-semibold text-3xl">Blog description</h1>


<div class="w-[90%] mx-auto h-max ">

    <div class="div">
        <h1 class="text-4xl font-bold my-4"><%=blogdescription.title%></h1>
        <p class=" pb-2"><%=blogdescription.createdAt.toString().slice(0,15)%></p>
    </div>
    <img class="w-[50%] h-[50vh] object-top object-cover" src="<%=blogdescription.blogImage%>" alt="">
    <p class="text-lg my-2 "><%=blogdescription.description%></p>
</div>
<div class="w-[90%] mx-auto h-[200px] py-10">

    <h1 class="text-2xl my-2 font-semibold">Add Comments</h1>
    <form class="w-full " action="/users/comment/<%=blogdescription._id%>" method="post">
        <input class="w-[90%] rounded-[50px]" type="text" placeholder="Write a comment" name="comment">
        <button class="w-[9%] text-center rounded-[50px] bg-slate-300 py-[10px] " type="submit">Submit</button>
    </form>

    <div class="all comments w-full py-5 flex flex-col gap-3">

        <%blogdescription.comments.forEach(elm=>{%>
            <div class="singlecomment w-[80%] border h-[50px] rounded-[50px] flex items-center px-2 ">
                <div class="profile w-[40px] h-[40px] bg-red-300 rounded-full">
                    <img src="<%=elm.postedBy.profile%>" alt="">
                </div>
                
                <h1 class="ml-10"><%=elm.commentText%></h1>
            </div>
        <%})%>

    </div>
</div>
</div>

<%- include("./partials/footer")%>